<Pagination>
    <PaginationItem Disabled="@IsPageNavigationDisabled(previous)" @onclick="GoToPreviousPage">
        <PaginationLink>
            <span aria-hidden="true">«</span>
        </PaginationLink>
    </PaginationItem>

    @{
        @if (startPage > 1)
        {
            <PaginationItem @key="1" Active="@IsActive(1)">
                <PaginationLink Page="1" Clicked="SetActive">
                    1
                </PaginationLink>
            </PaginationItem>
        }

        @if (CurrentPage - NoPreviousNextPagesDisplayed > 2)
        {
            <span>...</span>
        }

        for (var i = startPage; i <= endPage; i++)
        {
            var pageNumber = i.ToString();
            <PaginationItem @key="pageNumber" Active="@IsActive(i)">
                <PaginationLink Page="@pageNumber" Clicked="SetActive">
                    @pageNumber
                </PaginationLink>
            </PaginationItem>
        }

        @if (CurrentPage + NoPreviousNextPagesDisplayed < NoTotalPages - 1)
        {
            <span>...</span>
        }

        @if (endPage < NoTotalPages)
        {
            <PaginationItem @key="@NoTotalPages" Active="@IsActive(NoTotalPages)">
                <PaginationLink Page="@NoTotalPages.ToString()" Clicked="SetActive">
                    @NoTotalPages
                </PaginationLink>
            </PaginationItem>
        }
    }
    <PaginationItem Disabled="@IsPageNavigationDisabled(next)" @onclick="GoToNextPage">
        <PaginationLink>
            <span aria-hidden="true">»</span>
        </PaginationLink>
    </PaginationItem>
</Pagination>