@using PeerStudy.Core.Models.Courses

@page "/active-courses"
@attribute [Authorize]
@inherits PeerStudyComponentBase<CourseDetailsModel>


<AuthorizeView Roles="Teacher">
    <div>
        <MatButton Style="@addCourseBtnStyle" OnClick="ShowAddCourseDialog">
            <img src="/images/icons8-plus.svg" />
        </MatButton>
        <Alert Color="Color.Danger" @bind-Visible="showErrorMessage">
            <AlertDescription>An error occurred while saving the course...</AlertDescription>
            <CloseButton />
        </Alert>
    </div>
    <CreateUpdateCourseDialog IsVisible="displayCourseDialog"
                              IsEditCourseEnabled="false"
                              CourseModel="CourseModel"
                              OnSave="SaveCourse"
                              OnCancel="CloseCourseDialog">
    </CreateUpdateCourseDialog>

    @if (isEditCourseModeEnabled)
    {
        <CreateUpdateCourseDialog IsVisible="displayCourseDialog"
                              IsEditCourseEnabled="true"
                              CourseModel="CourseModel"
                              OnSave="EditCourseAsync"
                              OnCancel="CancelEditCourse">
        </CreateUpdateCourseDialog>
    }
</AuthorizeView>

<CoursesList Courses="data"
             IsLoading="isLoading"
             CoursesNotFoundMessage="@noCoursesMessage"
             OnEditCourse="EditCourseHandler"
             OnArchiveCourse="ArchiveCourseHandler"
             OnCourseClicked="CourseClickedHandler"
             OnEnroll="EnrollHandler">
</CoursesList>

<MatSnackbar @bind-IsOpen="showArchiveCourseResult">
    <MatSnackbarContent>@archiveCourseMessage</MatSnackbarContent>
</MatSnackbar>

<Alert Style="@courseCreationMessageStyle" Color="Color.Info" @bind-Visible="@displayCourseCreationMessage">
    <AlertDescription>@courseCreationMessage</AlertDescription>
</Alert>

<MatSnackbar @bind-IsOpen="displayCreateEnrollmentMessage">
    <MatSnackbarContent>@createEnrollmentMessage</MatSnackbarContent>
</MatSnackbar>