@using PeerStudy.Components.StudyGroups
@using PeerStudy.Core.Models.Resources
@using PeerStudy.Components.CourseResources

@page "/{teacherId:guid}/courses/{courseId:guid}/resources"
@page "/{studentId:guid}/my-courses/{courseId:guid}/resources"
@attribute [Authorize]
@inherits PeerStudyComponentBase<CourseResourceDetailsModel>

<CourseHeader title="@courseDetails?.Title"></CourseHeader>

<AuthorizeView Roles="Teacher">
    <div>
        <MatButton OnClick="ToggleShowCreateMenu">
            <img src="/images/icons8-plus.svg" />
        </MatButton>

        @if (showCreateMenu)
        {
            <div class="create-menu">
                <MatButton Style="display: block;" OnClick="@ShowUploadFileDialog">Upload file(s)</MatButton>
                <MatButton Style="display: block; width:130px;" OnClick="@ShowCreateGroupsDialog">Create study groups</MatButton>
            </div>
        }
    </div>

    <MatDialog @bind-IsOpen="@showUploadFileDialog">
        <MatDialogTitle>Upload file(s)</MatDialogTitle>
        <MatDialogContent>
            <div>
                <PeerStudyFileUpload Style="@uploadFileControlStyles"
                                     OnChange="@GetUploadedFiles"
                                     Label="Choose files"
                                     AllowMultiple=true>
                </PeerStudyFileUpload>
            </div>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@UploadFiles" Raised=true Disabled=@(!IsUploadFileButtonEnabled())>Upload</MatButton>
            <MatButton OnClick="@CloseUploadFileDialog">Cancel</MatButton>
        </MatDialogActions>
    </MatDialog>

    <CreateStudyGroups IsVisible="showCreateStudyGroupsDialog"
                       DropDownItems="studyGroupsNoMembers"
                       OnCancel="CancelCreateStudyGroups"
                       OnConfirm="CreateGroups">
    </CreateStudyGroups>

    <Alert Color="@alertColor" @bind-Visible="showAlertMessage">
        <AlertDescription>@alertMessage</AlertDescription>
        <CloseButton />
    </Alert>
</AuthorizeView>

<AuthorizeView>
    <CourseResources Resources="data"
                     IsLoading="isLoading"
                     OnDeleteResource="@DeleteResource">
    </CourseResources>
</AuthorizeView>
