@using System.Globalization
@using PeerStudy.Core.Enums
@attribute [Authorize]

<MatCard Style="@cardStyles">
    <div class="card-header center-elements">
        <MatHeadline6>
            @Course.Title
        </MatHeadline6>
    </div>
    <MatCardContent>
        <MatBody2 @onclick="ClickedCourseHandler">
            <div class="card-body">
                <div>
                    <h5>@Course.TeacherName</h5>
                </div>
                <div>
                    @($"{Course.StartDate.ToString("dddd dd MMMM", CultureInfo.CreateSpecificCulture("en-US"))} - " +
                    $"{Course.EndDate.ToString("dddd dd MMMM", CultureInfo.CreateSpecificCulture("en-US"))}")
                </div>
                <div>x/y students enrolled</div>
            </div>
        </MatBody2>
    </MatCardContent>
    @if (Course.Status == CourseStatus.Active)
    {
        <AuthorizeView Roles="Teacher">
            <MatCardActions>
                <MatCardActionIcons>
                    <MatIconButton Icon="@MatIconNames.Edit" OnClick="EditCourse"></MatIconButton>
                    <MatIconButton Icon="@MatIconNames.Archive" OnClick="ArchiveCourse"></MatIconButton>
                </MatCardActionIcons>
            </MatCardActions>
        </AuthorizeView>

        <AuthorizeView Roles="Student">
            <MatCardActions>
                <MatButton>Enroll now</MatButton>
            </MatCardActions>
        </AuthorizeView>
    }
</MatCard>

