@using PeerStudy.Features.StudyGroups.Components.StudyGroupWorkItemsOverviewComponent
@typeparam T

<MatCard Style="@styles">
    <div class="center-elements">
        <MatHeadline6>
            @StudyGroupModel.Title
        </MatHeadline6>
    </div>
    <MatCardContent>
        <div class="course-title">
            <h6><b>Course: @StudyGroupModel.CourseTitle</b></h6>
            <hr />
        </div>
        <MatBody2 @onclick="ClickHandler">
            <div class="students">
                <b>Members</b>
                @foreach (var student in StudyGroupModel.Students)
                {
                    <div>
                        @student.FirstName @student.LastName
                    </div>
                }
            </div>

            <div class="work-items-status">
                <div class="all-work-items-status">
                    @if (StudyGroupModel.AllWorkItemsStatus != null && StudyGroupModel.AllWorkItemsStatus.Any())
                    {
                        <b>Tasks</b>
                        <StudyGroupWorkItemsOverview Data="allWorkItemsChartData"></StudyGroupWorkItemsOverview>
                    }
                </div>
                <div class="child-content">
                    @ChildContent
                </div>
            </div>
        </MatBody2>
    </MatCardContent>
</MatCard>
