@using PeerStudy.Components.Courses

@page "/{courseTitle}/{studentId:guid}/{assignmentId:guid}/assignment-details"
@attribute [Authorize]

<CourseHeader Title="@CourseTitle"></CourseHeader>

<Loading IsLoading="isLoading"
         HasData="@(assignmentDetails != null)"
         NotFoundMessage="@noFilesMessage">

    <div class="assignment-details">
        <h3>@assignmentDetails?.Title</h3>
        <hr />
        <div class="deadline">
            @assignmentDetails?.Deadline
        </div>
        <div>
            @assignmentDetails?.Description
        </div>
        <div class="student-work">
            <div class="files">
                @if (filesToBeUploaded.Any())
                {
                    @foreach (var file in filesToBeUploaded)
                    {
                        <AuthorizeView Roles="Student">
                            <div class="assignment-file">
                                <PeerStudyFile Title="@file.Name"
                                       DisplayDeleteButton="!isUploadingFilesInProgress"
                                       OnDelete="DeleteFile">
                                </PeerStudyFile>
                            </div>
                        </AuthorizeView>
                    }
                }
                else
                {
                    @foreach (var file in assignmentDetails.StudentAssignmentFiles)
                    {
                        <AuthorizeView Roles="Student">
                            <div class="assignment-file">
                                <PeerStudyFile IconLink="@file.IconLink"
                                       Title="@file.Name"
                                       DisplayDeleteButton="showDeleteFileButton"
                                       OnDelete="DeleteFile"
                                       WebViewLink="@file.WebViewLink">
                                </PeerStudyFile>
                            </div>
                        </AuthorizeView>

                        <AuthorizeView Roles="Teacher">
                            <div class="assignment-file">
                                <PeerStudyFile IconLink="@file.IconLink"
                                       Title="@file.Name"
                                       WebViewLink="@file.WebViewLink">
                                </PeerStudyFile>
                            </div>
                        </AuthorizeView>
                    }
                }
            </div>

            <AuthorizeView Roles="Student">
                <div class="center-elements">
                    @if (assignmentDetails.CompletedAt != null && assignmentDetails.StudentAssignmentFiles != null && assignmentDetails.StudentAssignmentFiles.Any() && !filesToBeUploaded.Any())
                    {
                        <MatButton Style="@buttonStyles" Raised="true" OnClick="Unsubmit">Unsubmit</MatButton>
                    }
                    else if (assignmentDetails.CompletedAt == null && filesToBeUploaded.Any())
                    {
                        <MatButton Style="@buttonStyles"
                               Raised="true"
                               OnClick="Submit"
                               Disabled="isUploadingFilesInProgress">
                            Submit
                        </MatButton>
                    }
                    @if (showUploadFilesButton)
                    {
                        <MatButton Style="@buttonStyles"
                               Raised="true"
                               OnClick="DisplayUploadFilesDialog"
                               Disabled="isUploadingFilesInProgress">
                            Upload file(s)
                        </MatButton>
                    }
                </div>

                <UploadFiles IsVisible="showUploadFileDialog"
                             OnCancel="CloseUploadFilesDialog"
                             OnUpload="Upload">
                </UploadFiles>
            </AuthorizeView>
        </div>
    </div>
</Loading>

<Alert Color="@alertColor" @bind-Visible="showAlertMessage">
    <AlertDescription>@alertMessage</AlertDescription>
    <CloseButton />
</Alert>