@using PeerStudy.Features.Q_A.Components.AnswerComponent
@using PeerStudy.Features.Q_A.Components.TagsListComponent

@page "/questions/{questionId:guid}"
@inherits PeerStudyComponentBase
@attribute [Authorize(Roles = "Student")]

<Loading IsLoading="isLoading" HasData="@(!isLoading && questionDetails != null)">
    <div class="header">
        <h3>@questionDetails?.Title</h3>
        <span class="posted-at">Posted: @questionDetails?.CreatedAt</span>
    </div>
    <hr />

    <div class="question-content">
        <div>
            <PeerStudyTextEditor HtmlContent="@questionDetails?.HtmlDescription"
                                 IsReadOnly="isEditQuestionDisabled"
                                 OnSave="UpdateQuestion"
                                 OnCancel="CancelUpdateQuestion">
            </PeerStudyTextEditor>
        </div>

        <TagsList Tags="questionDetails?.Tags"></TagsList>

        @if (questionDetails?.AuthorId == currentUserId && isEditQuestionDisabled)
        {
            <div class="action-buttons">
                <MatIconButton Icon="@MatIconNames.Edit" OnClick="EnableEditQuestion"></MatIconButton>
                <MatIconButton Icon="@MatIconNames.Delete" OnClick="ShowDeleteQuestionPopup"></MatIconButton>
            </div>
        }
        else if (questionDetails?.AuthorId != currentUserId)
        {
            <MatButton Class="submit-button" Raised=true OnClick="@(() => showAddAnswerEditor = true)">Reply</MatButton>
            <MatButton Class="submit-button" OnClick="@(() => showAddCommentEditor = true)">Add a comment</MatButton>
        }


        @if (showAddAnswerEditor)
        {
            <PeerStudyTextEditor Placeholder="Type your answer here..."
                             OnSave="SaveAnswer"
                             OnCancel="CancelAddAnswer">
            </PeerStudyTextEditor>
        }

        @if (showAddCommentEditor)
        {
            <PeerStudyTextEditor Placeholder="Type your comment here..."
                             OnSave="SaveComment"
                             OnCancel="CancelAddComment">
            </PeerStudyTextEditor>
        }
        <div class="answers">
            <h4>@questionDetails.Answers.Count() Answers</h4>
            @foreach (var answer in questionDetails.Answers)
            {
                <AnswerDetails Answer="answer"
                           ShowActionButtons="@(answer.AuthorId == currentUserId)"
                           OnDelete="ShowDeleteAnswerPopup"
                           OnEdit="EnableEditAnswer"
                           OnSave="SaveUpdatedAnswer"
                           OnCancel="DisableAnswerEditMode">
                </AnswerDetails>
            }
        </div>
    </div>

    <ConfirmationPopup Title="Delete Question"
                       Message="@deleteQuestionConfirmationMessage"
                       IsOpen="showDeleteQuestionConfirmationPopup"
                       OnCancel="@(() => showDeleteQuestionConfirmationPopup = false)"
                       OnConfirm="DeleteQuestion">
    </ConfirmationPopup>

    <ConfirmationPopup Title="Delete Answer"
                       Message="@deleteAnswerConfirmationMessage"
                       IsOpen="showDeleteAnswerConfirmationPopup"
                       OnCancel="@(() => showDeleteAnswerConfirmationPopup = false)"
                       OnConfirm="DeleteAnswer">
    </ConfirmationPopup>
</Loading>
