@using Microsoft.AspNetCore.Authorization;
@using PeerStudy.Core.Enums;
@using PeerStudy.Core.Models.WorkItems
@using PeerStudy.Features.WorkItems.Components.CreateUpdateWorkItemComponent
@using PeerStudy.Features.WorkItems.Components.WorkItemDetailsComponent
@using PeerStudy.Features;

@page "/{studyGroupName}/{studyGroupId:guid}/work-items"
@attribute [Authorize]
@inherits PeerStudyComponentBase

<div>
    <Header Title="@courseTitle"></Header>

    <Loading IsLoading="isLoading"
             HasData="@(allWorkItems != null && allWorkItems.Any())"
             NotFoundMessage="@noWorkItemsMessage">

        <ChildContentForNoData>
            <AuthorizeView Roles="Student">
                @if (!isReadOnly)
                {
                    <MatButton Icon="@MatIconNames.Add" OnClick="@(() => showAddWorkItemDialog = true)"></MatButton>
                }
            </AuthorizeView>

        </ChildContentForNoData>

        <ChildContent>
            <div class="filter">
                <div class="dropdown-container">
                    <MatSelectValue Style="@dropdownStyles"
                                    Label="Assigned to"
                                    Value="@selectedStudentIdFilter"
                                    Items="studentDropDownItems"
                                    ValueSelector="@(x=>x.Key)"
                                    ValueChanged="@(new EventCallback<string>(this, HandleSelectedStudentChanged))">
                        <ItemTemplate Context="itemmenucontext"><span>@itemmenucontext?.Value</span></ItemTemplate>
                    </MatSelectValue>
                </div>
                <div class="dropdown-container">
                    <MatSelectItem Style="@dropdownStyles"
                                   Label="Status"
                                   Value="@selectedWorkItemStatusFilter"
                                   ValueChanged="@(async (WorkItemStatus? value) => await HandleSelectedWorkItemStatusChanged(value))"
                                   Items="workItemStatusesForFiltering">
                    </MatSelectItem>
                </div>
                <span class="reset-filter" @onclick="ResetFilters" title="Reset Filters">X</span>
            </div>

            <div>
                <AuthorizeView Roles="Student">
                    @if (!isReadOnly)
                    {
                        <MatButton Icon="@MatIconNames.Add" OnClick="@(() => showAddWorkItemDialog = true)"></MatButton>
                    }
                </AuthorizeView>

                <MatButton Disabled="AreButtonsDisabled()" Icon="@MatIconNames.Visibility" OnClick="ShowWorkItemDetails"></MatButton>

                <AuthorizeView Roles="Student">
                    @if (!isReadOnly)
                    {
                        <MatButton Disabled="AreButtonsDisabled()" Icon="@MatIconNames.Edit" OnClick="EditWorkItem"></MatButton>
                        <MatButton Disabled="AreButtonsDisabled()" Icon="@MatIconNames.Delete" OnClick="@(() => isDeleteConfirmationPopupVisible = true)"></MatButton>
                    }

                    <ConfirmationPopup IsOpen="isDeleteConfirmationPopupVisible"
                                       Message="@deleteWorkItemMessage"
                                       Title="@deletePopupTitle"
                                       OnCancel="CancelDeleteWorkItem"
                                       OnConfirm="DeleteWorkItem">
                    </ConfirmationPopup>
                </AuthorizeView>
            </div>

            <DataGrid TItem="WorkItemDetailsModel"
                      Data="currentWorkItems"
                      SelectedRow="selectedRow"
                      RowClicked="@(new EventCallback<DataGridRowMouseEventArgs<WorkItemDetailsModel>>(this, HandleClickedRow))"
                      Responsive>
                <DataGridColumns>
                    <DataGridCommandColumn />
                    <DataGridColumn Field="@nameof(WorkItemDetailsModel.Title)" Caption="Title">
                        <DisplayTemplate>
                            <div class="title-field">
                                @context.Title
                            </div>
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn Field="@nameof(WorkItemDetailsModel.AssignedToFullName)" Caption="Assigned To" />
                    <DataGridColumn Field="@nameof(WorkItemDetailsModel.Status)" Caption="State" />
                </DataGridColumns>
            </DataGrid>

            <PeerStudyPagination NoTotalPages="noTotalPages"
                                 CurrentPage="currentPageNumber"
                                 OnSetActivePage="SetDataForPageNumber">
            </PeerStudyPagination>

            <WorkItemDetails WorkItem="@selectedRow"
                             IsVisible="showSelectedTaskDetails"
                             OnClose="CloseWorkItemDetailsPopup">
            </WorkItemDetails>
        </ChildContent>

        <ChildContentAlwaysDisplayed>
            <CreateUpdateWorkItem WorkItemModel="workItemModel"
                                  IsVisible="showAddWorkItemDialog"
                                  Students="@studentDropDownItems"
                                  WorkItemStatuses="workItemStatuses"
                                  SelectedStudent="@selectedStudent"
                                  DialogTitle="@addWorkItemDialogTitle"
                                  OnCancel="CancelAddWorkItem"
                                  OnSave="AddWorkItem">
            </CreateUpdateWorkItem>

            <CreateUpdateWorkItem WorkItemModel="workItemModel"
                                  IsVisible="showEditWorkItemDialog"
                                  Students="@studentDropDownItems"
                                  WorkItemStatuses="workItemStatuses"
                                  SelectedStudent="@selectedStudent"
                                  DialogTitle="@editWorkItemDialogTitle"
                                  OnCancel="CancelEditWorkItem"
                                  OnSave="SaveUpdatedWorkItem">
            </CreateUpdateWorkItem>
        </ChildContentAlwaysDisplayed>
    </Loading>
</div>