@attribute [Authorize(Roles = "Teacher")]


<EditForm Model="CourseModel">
    <DataAnnotationsValidator />
    <MatDialog Style="@dialogStyleRules" @bind-IsOpen="@IsVisible" CanBeClosed="false">
        <MatDialogTitle>Create course</MatDialogTitle>
        <MatDialogContent Class="mat-dialog-styles">
            <div class="create-course-card">
                <div class="card-body">
                    <div class="first-form-row">
                        <div style="width: 70%;">
                            <MatTextField Class="input-field"
                                          Style="width: 92%;"
                                          @bind-Value="CourseModel.Title"
                                          Label="Title"
                                          Required>
                            </MatTextField>
                        </div>
                        <div style="width: 28%;">
                            <MatTextField Class="input-field"
                                          Style="width: 100%;"
                                          @bind-Value="CourseModel.NumberOfStudents"
                                          Label="No.Students"
                                          Disabled="HasStudyGroups"
                                          Required
                                          TValue="int">
                            </MatTextField>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="center-items">
                            <MatDatePicker Label="Start Date" @bind-Value="CourseModel.StartDate"
                                           Minimum="@DateTime.Now.AddDays(10)"
                                           Required
                                           TValue="DateTime"
                                           Style="@datePickerStyleRules"
                                           Disabled="IsEditCourseEnabled">
                            </MatDatePicker>
                        </div>
                        <div class="center-items">
                            <MatDatePicker Label="End Date" @bind-Value="CourseModel.EndDate"
                                           Minimum="CourseModel.StartDate.AddDays(20)"
                                           Required
                                           TValue="DateTime"
                                           Style="@datePickerStyleRules"
                                           Disabled="IsEditCourseEnabled">
                            </MatDatePicker>
                        </div>
                    </div>
                </div>
            </div>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton Class="submit-button" Raised="true" OnClick="SaveCourse" Disabled=@(!context.IsModified() || !context.Validate())>Confirm</MatButton>
            <MatButton Class="submit-button" OnClick="Cancel">Cancel</MatButton>
        </MatDialogActions>
    </MatDialog>
</EditForm>

