@page "/change-password"
@attribute [Authorize]


<EditForm Model="changePasswordModel" OnValidSubmit="UpdatePassword">
    <DataAnnotationsValidator />
    <div class="card change-password-card">
        <div class="card-title">
            <h3>Change password</h3>
        </div>

        <div class="card-body">
            <div>
                <MatTextField Class="input-field" @bind-Value="@changePasswordModel.OldPassword" Label="Old Password" Icon="lock" Type="password"></MatTextField>
                <ValidationMessage For="@(() => changePasswordModel.OldPassword)" />
            </div>

              <div>
                <MatTextField Class="input-field" @bind-Value="@changePasswordModel.NewPassword" Label="New Password" Icon="lock" Type="password"></MatTextField>
                <ValidationMessage For="@(() => changePasswordModel.NewPassword)" />
            </div>

              <div>
                <MatTextField Class="input-field" @bind-Value="@changePasswordModel.ConfirmedPassword" Label="Confirmed Password" Icon="lock" Type="password"></MatTextField>
                <ValidationMessage For="@(() => changePasswordModel.ConfirmedPassword)" />
            </div>

            <div>
                <MatButton Class="submit-button" Raised="true" Type="submit">Update password</MatButton>
            </div>
        </div>
    </div>
</EditForm>


<Alert Color="@alertColor" @bind-Visible="@isAlertVisible">
    <AlertDescription>@alertText</AlertDescription>
    <CloseButton />
</Alert>
