@page "/login"

<EditForm Model="loginModel" OnValidSubmit="LogIn">
    <DataAnnotationsValidator />
    <div class="card login-card">
        <div class="card-title">
            <h3>Login</h3>
        </div>

        <div class="card-body">
            <div>
                <MatTextField Class="input-field" @bind-Value="@loginModel.Email" Label="Email" Icon="email"></MatTextField>
                <ValidationMessage For="@(() => loginModel.Email)" />
            </div>

            <div>
                <MatTextField Class="input-field" @bind-Value="@loginModel.Password" Label="Password" Icon="lock" Type="password"></MatTextField>
                <ValidationMessage For="@(() => loginModel.Password)" />
            </div>

            <div>
                <MatButton Class="submit-button" Raised="true" Type="submit" Disabled="@(isSubmitButtonDisabled || !context.IsModified() || !context.Validate())">Log in</MatButton>
            </div>
            <div>You do not have an account?<a href="/register">Sign up</a></div>
        </div>
    </div>
</EditForm>


<Alert Color="Color.Danger" @bind-Visible="@showLoginErrorMessage">
    <AlertDescription>Invalid Credentials!</AlertDescription>
    <CloseButton />
</Alert>


