@using PeerStudy.Core.Models.CourseEnrollments

<AuthorizeView Roles="Teacher">
    <Header title="@CourseTitle"></Header>
</AuthorizeView>

<Loading IsLoading="IsLoading"
         HasData="@(Requests != null && Requests.Any())"
         NotFoundMessage="@NoRequestsMessage">
    <AuthorizeView Roles="Teacher">
        @if (DisplayActionButtons)
        {
            <div>
                <MatButton Disabled="AreButtonsDisabled() || IsApproveButtonDisabled()" Style="display: inline-block;" OnClick="ApproveRequests" Raised=true>Approve</MatButton>
                <MatButton Disabled="AreButtonsDisabled()" Style="display: inline-block;" OnClick="RejectRequests">Reject</MatButton>
            </div>
        }
    </AuthorizeView>

    <AuthorizeView Roles="Student">
        <div>
            <MatButton Raised=true Disabled="AreButtonsDisabled() || !CanDeleteRequests" Style="display: inline-block;" OnClick="DeleteRequests">Delete</MatButton>
        </div>
    </AuthorizeView>

    <DataGrid TItem="CourseEnrollmentRequestDetailsModel"
              Data="@currentRequests"
              @bind-SelectedRow="@selectedRequest"
              SelectionMode="selectionMode"
              @bind-SelectedRows="selectedRequests"
              Responsive>
        <DataGridColumns>
            @if (allowSelection)
            {
                <DataGridMultiSelectColumn Width="30px"></DataGridMultiSelectColumn>
            }
            <DataGridCommandColumn />
            <DataGridColumn Field="@nameof(CourseEnrollmentRequestDetailsModel.StudentName)" Caption="Student" />
            <DataGridColumn Field="@nameof(CourseEnrollmentRequestDetailsModel.CreatedAt)" Caption="Created At" />
            <AuthorizeView Roles="Student">
                <DataGridColumn Field="@nameof(CourseEnrollmentRequestDetailsModel.CourseTitle)" Caption="Course" />
            </AuthorizeView>
        </DataGridColumns>
    </DataGrid>

    <PeerStudyPagination NoTotalPages="noTotalPages"
                         CurrentPage="currentPageNumber"
                         OnSetActivePage="SetDataForPageNumber">
    </PeerStudyPagination>
</Loading>
