@using PeerStudy.Core.Models.CourseEnrollments

<Header title="@CourseTitle"></Header>

<Loading IsLoading="IsLoading"
         HasData="@(Requests != null && Requests.Any())"
         NotFoundMessage="@NoRequestsMessage">
    @if (DisplayActionButtons)
    {
        <div>
            <MatButton Disabled="AreButtonsDisabled() || IsApproveButtonDisabled()" Style="display: inline-block;" OnClick="ApproveRequests" Raised=true>Approve</MatButton>
            <MatButton Disabled="AreButtonsDisabled()" Style="display: inline-block;" OnClick="RejectRequests">Reject</MatButton>
        </div>
    }

    <DataGrid TItem="CourseEnrollmentRequestDetailsModel"
              Data="@currentRequests"
              @bind-SelectedRow="@selectedRequest"
              SelectionMode="selectionMode"
              @bind-SelectedRows="selectedRequests"
              Responsive>
        <DataGridColumns>
            @if (allowSelection)
            {
                <DataGridMultiSelectColumn Width="30px"></DataGridMultiSelectColumn>
            }
            <DataGridCommandColumn />
            <DataGridColumn Field="@nameof(CourseEnrollmentRequestDetailsModel.StudentName)" Caption="Student" />
            <DataGridColumn Field="@nameof(CourseEnrollmentRequestDetailsModel.CreatedAt)" Caption="Created At" />
        </DataGridColumns>
    </DataGrid>

    <PeerStudyPagination NoTotalPages="noTotalPages"
                         CurrentPage="currentPageNumber"
                         OnSetActivePage="SetDataForPageNumber">
    </PeerStudyPagination>
</Loading>
