<div class="resource-container center-items">
    <MatAccordion>
        <MatExpansionPanel @bind-Expanded="Expanded">
            <MatExpansionPanelSummary Style="padding: 10px;">
                <MatExpansionPanelHeader>
                    <div class="panel-header">
                        @ResourceDetails.OwnerName uploaded:
                    </div>
                </MatExpansionPanelHeader>
                <MatExpansionPanelSubHeader>
                    @ResourceDetails.FileName

                </MatExpansionPanelSubHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                @if (ResourceDetails != null)
                {
                    <div class="details-container">
                        <a href="@ResourceDetails.WebViewLink" target="_blank">
                            <img src="@ResourceDetails.IconLink" />
                            <p class="file-name">@ResourceDetails.FileName</p>
                        </a>
                        <div class="created-at">@ResourceDetails.CreatedAt</div>
                    </div>

                    @if (!IsReadOnly && CurrentUserId == ResourceDetails.OwnerId)
                    {
                        <div class="delete-button">
                            <MatButton Icon="@MatIconNames.Delete" OnClick="HandleDeleteResource"></MatButton>
                        </div>
                    }
                }
            </MatExpansionPanelDetails>
        </MatExpansionPanel>
    </MatAccordion>
</div>