@inherits LayoutComponentBase

<PageTitle>@ClientConstants.AppName</PageTitle>

<MatThemeProvider Theme="@matBlazorTheme">
    <div class="page">
        <AuthorizeView>
            <Authorized>
                <div class="sidebar">
                    <NavMenu />
                </div>
            </Authorized>
        </AuthorizeView>

        <main>
            <div class="top-row px-4">
                <AuthorizeView>
                    <NotAuthorized>
                        <a href="/register">Register</a>
                        <a href="/login">Login</a>
                    </NotAuthorized>
                    <Authorized>
                        <span class="current-user">
                            @NavigationMenuService.CurrentUsername
                        </span>
                        @foreach (var menuItem in NavigationMenuService.GetMenuItems())
                        {
                            <div class="nav-item">
                                <NavLink class="nav-link" href="@menuItem.Href">
                                    @menuItem.Name
                                </NavLink>
                            </div>
                        }
                        <MenuUserAccount></MenuUserAccount>
                    </Authorized>
                </AuthorizeView>
            </div>

            <article class="content px-4">
                @*<ErrorBoundary @ref="@errorBoundary">
                    <ChildContent>
                        @Body
                    </ChildContent>
                    <ErrorContent>
                        <Alert Color="Color.Danger" @bind-Visible="showErrorAlert">
                            <AlertDescription>An error occurred... Please try again later.</AlertDescription>
                        </Alert>
                    </ErrorContent>
                </ErrorBoundary>*@
                   @Body
            </article>
        </main>
    </div>
</MatThemeProvider>

