@page "/{courseTitle}/{courseId:guid}/{studentId:guid}/{assignmentId:guid}/assignment-details"
@attribute [Authorize]

<Header Title="@CourseTitle"></Header>

<Loading IsLoading="isLoading"
         HasData="@(assignmentDetails != null)"
         NotFoundMessage="@noFilesMessage">

    <div class="assignment-details">
        <h3>@assignmentDetails?.Title</h3>
        <hr />
        <div class="deadline">
            @assignmentDetails?.Deadline
        </div>
        <div>
            @assignmentDetails?.Description
        </div>
        <AuthorizeView Roles="Student">
            <div class="student-work">
                <div class="files">
                    @if (allFiles.Any() || showUploadFilesButton)
                    {
                        @foreach (var file in allFiles)
                        {
                            <div class="assignment-file">
                                <PeerStudyFile Title="@file.Name"
                                       DisplayDeleteButton="!isUploadingFilesInProgress"
                                       OnDelete="DeleteFile">
                                </PeerStudyFile>
                            </div>
                        }
                    }
                    else if (assignmentDetails.StudentAssignmentFiles != null)
                    {
                        @foreach (var file in assignmentDetails.StudentAssignmentFiles)
                        {
                            <div class="assignment-file">
                                <PeerStudyFile IconLink="@file.IconLink"
                                       Title="@file.Name"
                                       DisplayDeleteButton="showDeleteFileButton"
                                       OnDelete="DeleteFile"
                                       WebViewLink="@file.WebViewLink">
                                </PeerStudyFile>
                            </div>
                        }
                    }
                </div>

                @if (!isReadOnly)
                {
                    <div class="center-elements">
                        @if (ShowUnsubmitButton())
                        {
                            <MatButton Style="@buttonStyles" Raised="true" OnClick="Unsubmit">Unsubmit</MatButton>
                        }
                        else if (assignmentDetails.CompletedAt == null && allFiles.Any())
                        {
                            <MatButton Style="@buttonStyles"
                               Raised="true"
                               OnClick="Submit"
                               Disabled="isUploadingFilesInProgress">
                                Submit
                            </MatButton>
                        }
                        @if (showUploadFilesButton)
                        {
                            <MatButton Style="@buttonStyles"
                               Raised="true"
                               OnClick="DisplayUploadFilesDialog"
                               Disabled="isUploadingFilesInProgress">
                                Upload file(s)
                            </MatButton>
                        }
                    </div>

                    <UploadFiles IsVisible="showUploadFileDialog"
                             OnCancel="CloseUploadFilesDialog"
                             OnUpload="Upload">
                    </UploadFiles>
                }
            </div>
        </AuthorizeView>


        @* Teacher*@
        <AuthorizeView Roles="Teacher">
            <div class="student-work">
                <div class="files">
                    @if (assignmentDetails.StudentAssignmentFiles != null && assignmentDetails.StudentAssignmentFiles.Any())
                    {
                        @foreach (var file in assignmentDetails.StudentAssignmentFiles)
                        {
                            <div class="assignment-file">
                                <PeerStudyFile IconLink="@file.IconLink"
                                       Title="@file.Name"
                                       WebViewLink="@file.WebViewLink">
                                </PeerStudyFile>
                            </div>
                        }
                    }
                    else
                    {
                        <h5>Missing work...</h5>
                    }
                </div>
            </div>
        </AuthorizeView>
    </div>
</Loading>
