@using PeerStudy.Core.Enums
@using PeerStudy.Features.Q_A.Components.VotingComponent

<div class="@(Answer.IsReadOnly ? "answer" : "")">
    <div>
        <PeerStudyTextEditor HtmlContent="@Answer.HtmlContent"
                             IsReadOnly="Answer.IsReadOnly"
                             OnSave="SaveEditorContent"
                             OnCancel="CancelEdit">
        </PeerStudyTextEditor>
    </div>

    @if (Answer.IsReadOnly)
    {
        <div class="answer-details">
            @if (Answer.AuthorId == CurrentUserId)
            {
                <div class="buttons">
                    <MatButton Icon="@MatIconNames.Edit" OnClick="Edit"></MatButton>
                    <MatButton Icon="@MatIconNames.Delete" OnClick="Delete"></MatButton>
                </div>
            }
            else
            {
                <div class="buttons">
                    <Voting NoDownvotes="Answer.NoDownvotes"
                            NoUpvotes="Answer.NoUpvotes"
                            Votes="Answer.Votes"
                            CurrentUserId="CurrentUserId"
                            OnUpvote="Upvote"
                            OnDownvote="Downvote">
                    </Voting>
                </div>
            }
            <div class="author-and-date">
                @Answer.AuthorName replied @Answer.CreatedAt
            </div>
        </div>
    }
</div>
