@using PeerStudy.Core.Enums;
@using PeerStudy.Features.Assets.Components.Badges.BadgeCardComponent
@using PeerStudy.Features.Progress.Components.Leaderboards.LeaderboardItemComponent

@page "/my-progress"
@inherits PeerStudyComponentBase
@attribute [Authorize(Roles = "Student")]

<Loading IsLoading="isLoading" HasData="@(!isLoading && studentProgress != null)" NotFoundMessage="@UIMessages.NoStudentProgressMessage">
    <div class="student-progress-details-container">
        <div class="general-details">
            <div class="left">
                <div>
                    @studentProgress.Name
                </div>
                <div>
                    @studentProgress.Email
                </div>
            </div>
            <div class="right">
                <span class="earned-points">
                    @studentProgress.NoTotalPoints points
                </span>
            </div>
        </div>
        <div class="course-status">
            <MatSelectItem Label="Course status"
                           Value="@courseStatus"
                           ValueChanged="@(async (CourseStatus? value) => await HandleSelectedStatusChanged(value))"
                           Items="@courseStatuses">
            </MatSelectItem>
        </div>
        <div class="my-progress">
            <MatTabGroup>
                <MatTab Label="Earned Badges">
                    <div class="tab-content">
                        @if (studentProgress.EarnedBadges.Any())
                        {
                            @foreach (var badge in studentProgress.EarnedBadges)
                            {
                                <BadgeCard Badge="badge"></BadgeCard>
                            }
                        }
                        else
                        {
                            @UIMessages.NoBadgesMessage
                        }
                    </div>
                </MatTab>
                <MatTab Label="Unlocked Course Units">
                    <div class="tab-content">
                        <MatAccordion Multi="true">
                            @if (studentProgress.CoursesProgress.Any(x => x.UnlockedCourseUnits.Any()))
                            {
                                @foreach (var courseProgress in studentProgress.CoursesProgress)
                                {
                                    @if (courseProgress.UnlockedCourseUnits.Any())
                                    {
                                        <MatExpansionPanel>
                                            <MatExpansionPanelSummary>
                                                <MatExpansionPanelHeader><b>@courseProgress.CourseTitle</b></MatExpansionPanelHeader>
                                            </MatExpansionPanelSummary>
                                            <MatExpansionPanelDetails>

                                                @foreach (var courseUnit in courseProgress.UnlockedCourseUnits)
                                                {
                                                    <div class="course-unit">
                                                        <span class="course-unit-title">
                                                            <b>@courseUnit.CourseUnitTitle</b>
                                                        </span>
                                                        <div class="left">
                                                            @courseUnit.NoPaidPoints paid points
                                                        </div>
                                                        <span class="right unlock-date">Unlocked at: @courseUnit.UnlockedAt</span>
                                                    </div>
                                                }

                                            </MatExpansionPanelDetails>
                                        </MatExpansionPanel>
                                    }
                                }
                            }
                            else
                            {
                                @UIMessages.NoUnlockedCourseUnitsMessage
                            }
                        </MatAccordion>
                    </div>
                </MatTab>
                <MatTab Label="Assignments Progress">
                    <div class="tab-content">
                        <MatAccordion Multi="true">
                            @if (HasCompletedAssignments())
                            {
                                @foreach (var courseProgress in studentProgress.CoursesProgress)
                                {
                                    @if (courseProgress.CourseUnitsAssignmentsProgress.Any(x => x.StudentAssignments.Count() > 0))
                                    {
                                        <MatExpansionPanel>
                                            <MatExpansionPanelSummary>
                                                <MatExpansionPanelHeader><b>@courseProgress.CourseTitle</b></MatExpansionPanelHeader>
                                            </MatExpansionPanelSummary>
                                            <MatExpansionPanelDetails>

                                                @foreach (var courseUnitProgress in courseProgress.CourseUnitsAssignmentsProgress)
                                                {
                                                    if (courseUnitProgress.StudentAssignments.Any())
                                                    {
                                                        <div class="course-unit">
                                                            <span>
                                                                <b>@courseUnitProgress.CourseUnitTitle</b>
                                                            </span>
                                                            <div>
                                                                @foreach (var assignment in courseUnitProgress.StudentAssignments)
                                                                {
                                                                    <div class="assignment-title">
                                                                        @assignment.AssignmentTitle
                                                                    </div>
                                                                    <div>
                                                                        <div class="left earned-points">@assignment.NoEarnedPoints points</div>
                                                                        <div class="right completed-at">Completed at: @assignment.CompletedAt</div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                }

                                            </MatExpansionPanelDetails>
                                        </MatExpansionPanel>
                                    }
                                }
                            }
                            else
                            {
                                @UIMessages.NoCompletedAssignmentsMessage
                            }
                        </MatAccordion>
                    </div>
                </MatTab>
                <MatTab Label="Ranking">
                    <div class="tab-content">
                        @if (studentProgress.CourseRankings.Any())
                        {
                            <MatAccordion Multi="true">
                                @foreach (var ranking in studentProgress.CourseRankings)
                                {
                                    <MatExpansionPanel>
                                        <MatExpansionPanelSummary>
                                            <MatExpansionPanelHeader><b>@ranking.CourseTitle</b></MatExpansionPanelHeader>
                                        </MatExpansionPanelSummary>
                                        <MatExpansionPanelDetails>
                                            <LeaderboardItem Rank="ranking.Rank"
                                                     EarnedPoints="ranking.EarnedPoints"
                                                     ProfilePhotoName="@ranking.ProfilePhotoName"
                                                     StudentName="@ranking.StudentName">
                                            </LeaderboardItem>
                                        </MatExpansionPanelDetails>
                                    </MatExpansionPanel>
                                }
                            </MatAccordion>
                        }
                        else
                        {
                            @UIMessages.NoCoursesRankingMessage
                        }
                    </div>
                </MatTab>
            </MatTabGroup>
        </div>
    </div>

</Loading>
